.booth {
    position: relative;
    left: 50%;
    z-index: 5;
    margin-left: -200px;
    top: 200px;
    width: 400px;
    background-color: rgb(0,0,0,0.8);
}
body {
    background-image: url(./../home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
  .center1 {
    top: 35%;
    left: 20%;
    position: absolute;
    margin-left: -175px;
}
.headline {
    border-radius: 0px 0px 50px 50px;
    height: 10%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
    margin: auto;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}
.booth-capture-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: rgb(255,255,255,0.8);
    text-align: center;
    text-decoration: none;
}
#canvas {
    display: none;
}
.sticker {
    width: 400;
    height: 300;
    object-fit: cover;
    overflow: hidden;
}
.uploadingpagestyle {
    position: absolute;
    width: 750px;
    height: 1100px;
    top: 95;
    left: 50%;
    margin-left: -325px;
    background-color: rgb(0,0,0,0.8);
    border-radius: 8px;
    z-index: -1;
}
.buttonstyle {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(255,255,255,0.8);
    font-family: Palatino;
    outline: none;
    font-size: 15px;
    z-index: 4;
    display: inline-block;
    position: relative;
    text-align: center; 
}
.buttonstyle:hover {
  border-color: rgba(100, 100, 100, 0.8);
  color: white;
  background-color: rgba(100, 100, 100, 0.8);
}
.uploadposition{
    top: 340px;
    left: 10px;
}
input[type=file] {
    display: none;
}
input[type=submit] {
    display: none;
}