.center1 {
    top: 35%;
    left: 20%;
    position: absolute;
    margin-left: -175px;
}
.headline {
    border-radius: 0px 0px 50px 50px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 10%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
    margin: auto;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }
  .wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    background-image: url(./../home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
  .buttonstyle {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(255,255,255,0.8);
    font-family: Palatino;
    outline: none;
    font-size: 15px;
}
.buttonstyle:hover {
  border-color: rgba(100, 100, 100, 0.8);
  color: white;
  background-color: rgba(100, 100, 100, 0.8);
}
input[type=password], select {
    position: relative;
    width: 280px;
    height: 40px;
    bottom: 10px;
    left: 0;
    margin: 8px 0;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}